# Ignore node_modules folder
node_modules/

# Ignore environment config files (optional)
.env

# Ignore system files
.DS_Store

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore coverage reports
coverage/

# Ignore build output (if using tools like TypeScript or Next.js)
dist/
build/
